md-content.content(ng-style="{'width': '97%'}")
	form.form-horizontal(ng-submit="saveClient(false)")
		fieldset.scheduler-border
			legend.scheduler-border 4. Vos coordonnées
			br
			div.form-group.row
				label.col-sm-3.control-label(for="entreprise") Entreprise *
				div.col-sm-8
					input.form-control(required, id="entreprise", ng-model="client.entreprise")
			div.form-group.row
				label.col-sm-3.control-label(for="adresse") Adresse *
				div.col-sm-8
					input.form-control(required, id="adresse", ng-model="client.adresse")
			div.form-group.row
				label.col-sm-3.control-label(for="ville") Ville *
				div.col-sm-8
					input.form-control(required, id="ville", ng-model="client.ville")
			div.form-group.row
				label.col-sm-3.control-label(for="telephone") Telephone *
				div.col-sm-8
					input.form-control(type="tel", required, id="telephone", ng-model="client.telephone" )
			div.form-group.row
				label.col-sm-3.control-label(for="email") Email *
				div.col-sm-8
					input.form-control(required, type="email", id="email", ng-model="client.email")
		div.text-center(ng-style="{'margin-top': '20px'}")
			input.btn.btn-success.btn-lg(ng-hide="commande.total>0", type="submit", value="Valider la commande", ng-click="path='/validation'")
