doctype html
html
    head
        base(href="/")
        title= title
        meta(name="author" content="DEV : SCOOP : Blue screen")
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        link(rel='icon', href='/images/logo.png')
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/components/ng-dialog/css/ngDialog.min.css')
        link(rel='stylesheet', href='/components/ng-dialog/css/ngDialog-theme-default.min.css')
        link(rel='stylesheet', href='/components/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/components/jquery-ui/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/dist/style.css')

        script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/components/jquery-ui/jquery-ui.min.js")
        //- script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript", src="/components/lodash/dist/lodash.min.js")
        script(type="text/javascript", src="/components/angular/angular.min.js")
        script(type="text/javascript", src="/components/angular-simple-logger/dist/angular-simple-logger.min.js")

        script(type="text/javascript", src="/components/angular-animate/angular-animate.min.js")
        script(type="text/javascript", src="/components/angular-aria/angular-aria.min.js")
        script(type="text/javascript", src="/components/angular-material/angular-material.min.js")
        script(type="text/javascript", src="/components/angular-cookies/angular-cookies.min.js")
        script(type="text/javascript", src="/components/angular-route/angular-route.min.js")
        script(type="text/javascript", src="/components/angular-resource/angular-resource.min.js")

        script(type="text/javascript", src="/components/angular-sanitize/angular-sanitize.min.js")
        script(type="text/javascript", src="/components/ng-csv/build/ng-csv.min.js")

        script(type="text/javascript", src="/components/moment/moment.js")
        script(type="text/javascript", src="/components/angular-i18n/angular-locale_fr-fr.js")
        script(type="text/javascript", src="/components/angular-moment/angular-moment.min.js")


        script(type="text/javascript", src="/components/d3/d3.min.js")

        script(type="text/javascript", src="/components/angular-touch/angular-touch.min.js")
        script(type="text/javascript", src="/components/ng-dialog/js/ngDialog.min.js")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js")

        script(type="text/javascript", src="/components/mangopay-cardregistration-js-kit/kit/mangopay-kit.min.js")

        script(type="text/javascript", src="/dist/all.js")

        div !{req.toastr.render()}

    body(ng-app="distralsa")
        md-menu.hidden-xs(layout="row", layout-align="right right")
            md-button.md-raised(aria-label="Choose your language", ng-click="openMenu($mdMenu, $event)")
                md-icon(ng-style="{'margin-right': '10px', 'font-size':'36px', 'width':'36px'}", md-menu-origin, md-svg-src="svg/fr.svg")
                span &nbsp;
                md-icon(ng-style="{'margin-right': '10px', 'font-size':'44px', 'width':'44px'}", md-menu-origin, md-svg-src="svg/gb.svg")
                span &nbsp;
                md-icon(ng-style="{'margin-right': '10px', 'font-size':'36px', 'width':'36px'}", md-menu-origin, md-svg-src="svg/de.svg")
            md-menu-content
                md-menu-item(class="langBtn")
                    md-button(ng-click="changeLang($event, 'fr')")
                        md-icon(md-menu-origin, md-svg-src="svg/fr.svg")
                        span Français
                md-menu-item(class="langBtn")
                    md-button(ng-click="changeLang($event, 'en')")
                        md-icon(md-menu-origin, md-svg-src="svg/gb.svg")
                        span English
                md-menu-item(class="langBtn")
                    md-button(ng-click="changeLang($event, 'de')")
                        md-icon(md-menu-origin, md-svg-src="svg/de.svg")
                        span Deutch
        //- div.aide
        //-     a(href="tel:+3522652551")
        //-         img(src="images/{{ langData[55] }}.svg")
        .row
            h1.titre
                img.image-responsive(src="/images/logo.png", width="100PX")
                | {{ langData[54] }}
                
        block content
    footer.footer
        block footer
    script.

        var runDatepicker = function() {
            var startDate;
            var endDate;
            
            var selectCurrentWeek = function() {
                window.setTimeout(function () {
                    $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
                }, 1);
            }

            Date.prototype.getNextWeekDay = function(d) {
              if (d) {
                var next = this;
                next.setDate(this.getDate() - this.getDay() + 14 + d);
                return next;
              }
            }

            var now = new Date();
            var nextMonday = now.getNextWeekDay(1);


            $('.week-picker').datepicker({
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                dateFormat: "yy-mm-dd",
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                firstDay: 1 ,
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                showWeek: true,
                minDate: nextMonday,
                onSelect: function(dateText, inst) { 
                    var date = $(this).datepicker('getDate');
                    startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
                    endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
                    var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                    $('#startDate').text($.datepicker.formatDate( dateFormat, startDate, inst.settings ));
                    $('#endDate').text($.datepicker.formatDate( dateFormat, endDate, inst.settings ));
                    
                    selectCurrentWeek();
                },
                beforeShowDay: function(date) {
                    var cssClass = '';
                    if(date >= startDate && date <= endDate)
                        cssClass = 'ui-datepicker-current-day';
                    return [true, cssClass];
                },
                onChangeMonthYear: function(year, month, inst) {
                    selectCurrentWeek();
                },
                onClose: function(dateText, inst) { 
                    var wk = $.datepicker.iso8601Week(new Date(dateText));
                    if (parseInt(wk) < 10) {
                        wk = "0" + wk;
                    }           
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();

                    if (isNaN(wk)) {
                        $(this).val("");
                    } else {
                        $(this).val("Semaine " + wk + " / " + year);
                        $(this).trigger('input');
                        $(this).trigger('change');
                    }

                }
            });

            $(".week-picker").datepicker("setDate", new Date());

            $('.week-picker .ui-datepicker-calendar tr').on('mouseenter', function() { $(this).find('td a').addClass('ui-state-hover'); });
            $('.week-picker .ui-datepicker-calendar tr').on('mouseleave', function() { $(this).find('td a').removeClass('ui-state-hover'); });
        };
