* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.show-xs {
  display: none;
}

.text-center {
  width: 100%;
}

#listVille {
  margin-top: 17px;
}

.float-right {
  float: right;
}

.md-icon-button,
.md-menu {
  float: right;
  margin-top: 25px !important;
}

.float-left {
  float: left;
}

.checkbox-inline {
  margin-bottom: 0;
}

.part-1 > .row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.center-buttons {
  width: 510px;
  margin: 0 auto;
}

.center-buttons button:first-of-type {
  margin-right: 10px;
}

.part-2 {
  width: 97% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.part-list {
  height: 967px;
}

html {
  height: 100%;
  background: none;
  border: none;
}

footer,
md-menu,
ng-view {
  border: none;
  background: none;
}

body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  height: 100%;
}

a {
  color: #00b7ff;
}

.top {
  fill: red;
  z-index: 100;
}

.content {
  margin: 0 auto;
  overflow: hidden;
  background: none;
  display: inline-block;
  text-align: center;
  /* background-image: url("/images/logo.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: 24% 30% !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-position-y: 2%; */
}

.footer {
  padding: 30px;
}

.md-button.md-raised {
  box-shadow: none !important;
}

fieldset.scheduler-border,
fieldset.scheduler-border-2,
fieldset.scheduler-border-3 {
  border: 1px solid #bdbcbc !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #bdbcbc;
  box-shadow: 0px 0px 0px 0px #bdbcbc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

legend.scheduler-border,
legend.scheduler-border-2 {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  background: #fafafa;
  border-bottom: none;
}

legend.scheduler-border:first-letter,
legend.scheduler-border-2:first-letter {
  text-transform: uppercase;
}

legend.scheduler-border-2 {
  padding: 0 20px; /* To give a bit of padding on the left and right */
  margin-left: 40%;
  font-size: 1em;
  border-bottom: none;
}

fieldset.scheduler-border-2 label {
  font-size: 1.5rem;
  cursor: pointer;
}

fieldset.scheduler-border-3 div {
  height: 100%;
  max-height: 890px;
  overflow: auto;
}

.pathRegion {
  cursor: pointer;
}
.pathActive {
  cursor: pointer;
}

.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
}

.panel-body {
  padding-top: 30px !important;
}

/*
let colorOuest = "#5d2491";
let colorNord = "#c01a2c";
let colorEst = "#3871c2";
let colorSudEst = "#fbbd13";
let colorSud = "#0000F0";
let colorSudOuest = "#0FD0FF";
*/

#c39d38 #e8c577 #f9c867 #f9d595 #ffe448 #fdc400 .form-group > label {
  font-size: 1.1em;
}

/* .form-group > label.ouest {
  color: #c39d38;
}
.form-group > label.nord {
  color: #e8c577;
}
.form-group > label.est {
  color: #f9c867;
}
.form-group > label.sudEst {
  color: #f9d595;
}
.form-group > label.sud {
  color: #ffe448;
}
.form-group > label.sudOuest {
  color: #fdc400;
}
.form-group > label.national {
  color: #00a650;
} */

label.control-label {
  font-size: 1.6em;
  margin-left: 1em;
}

label.checkbox-inline {
  font-size: 1.4em;
}

i.fa.fa-remove {
  color: #c01a2c;
  cursor: pointer;
}

h1.titre {
  margin-bottom: 2em;
  margin-left: 20px;
  font-size: 1.6rem;
}

.titre img {
  margin-right: 40px;
  margin-left: 20px;
}

div.aide {
  position: fixed;
  right: -2px;
  bottom: 100px;
  z-index: 9;
}

div.aide a {
  margin: 0;
  margin-top: 1.4em;
  left: 0;
  width: 210px;
  background-color: #00a650;
  /*  padding:0.9em;
  padding-top:1.3em;
  padding-bottom:1px;*/
  border-radius: 0 8px 8px 0;
  display: block;
  position: relative;
  margin-left: -25px;
  height: 7%;
}

div.aide p {
  position: relative;
  line-height: 0.1em;
  color: white;
  font-size: 1.2em;
  width: 10em;
}

div.aide p span {
  padding-left: 10px;
}

div.aide a {
  cursor: pointer;
  color: white;
}

div.aide a:hover {
  text-decoration: none;
}

.loading-block {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.size-block {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: white !important;
  display: none !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

@media screen and (max-width: 1050px) {
  .hidden-xs,
  md-content {
    display: none !important;
  }
  .aide {
    display: none !important;
  }

  .show-xs {
    display: block !important;
  }
  .size-block {
    display: flex !important;
  }
}
